
.containerDiv{
    padding: 10px;
    background: #3c020274;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vw;

    @media(max-width: 416px) {
        width: 95%;
    }

}

.title h4 {
    font-size: 30px;
    font-family: "Inter" sans-serif;
    color: #000;
    font-weight: bold;

    @media(max-width: 416px) {
        font-size: 5vw;
    }
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
    align-content: center;

    @media (max-width: 500px) {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

.card {
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;

}

.imgBx {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;

    @media (max-width: 500px) {
        height: 100px;
    }
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.action {
    position: absolute;
    top: 10px;
    right: 10px;
}

.action li {
    position: relative;
    list-style: none;
    width: 25px;
    height: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    border-radius: 2px;
    transition: transform 0.5s;
    transform: translateX(60px)
}

.action li:hover {
    background: #000;
}

.action li:nth-child(2) {
    transition-delay: 0.15s;
}

.action li:nth-child(3) {
    transition-delay: 0.3s;
}

.card:hover .action li {
    transform: translateX(0px)
}

.action li span {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;

    @media (max-width: 500px) {
        display: none;
    }
}

.action li:hover span {
    transform: translateY(-50%) translateX(0px);
    opacity: 1;
}

.card:hover .img {

    transform: scale(1.5);
}

.content {
    padding: 10px;
}

.productName h3 {
    color: var(--base-color-dark, #3c0202);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter" sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    @media (max-width: 500px) {
        font-size: 12px;
        text-align: center;
        display: none;
    }
}

.productName h3:after {
    content: "...";
    width: 1.5vw;
    height: 4px;
    left: .5vw;
    bottom: -5px;
}

.productRating {
    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: space-evenly;

    }


}

.productRating h2 {
    color: var(--base-color-dark, purple);
    font-family: "Inter" sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    @media (max-width: 500px) {
        font-size: 16px;
    }
}